/*Overall styling*/
body {
  height: 100%;
  color: #39434C;
  font-family: 'Sentinel-Book', Georgia, serif;
  font-weight: 400;
}

h1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5pt;
  text-transform: uppercase;
}

h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5pt;
}

h3, h4, h5, h6 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5pt;
}

.div-cfp {
  position: absolute;
  top: 75px;
  left: 0px;
  background-color: #6241c5;
  width: 100%;
  color: white;
  z-index: 5;
  text-align: center;
  padding-top: 5px;
  .h5-cfp {
    line-height: 40px;
    vertical-align: middle;
    .a-click-here {
      color: white;
      text-decoration: underline;
    }
    .a-click-here:hover {
      cursor: pointer;
    }
  }
}

.sub-h5 {
  font-size: 1.15rem;
}

.sub-h6 {
  font-size: .9rem;
}

select {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400;
}

.breadcrumb {
  background-color: white;
}

a {
  color: #4F7CAC;
}

#content-width-lock {
  max-width: 2200px;
  width: 100%;
  margin: auto;
}

#content {
  margin-top: 95px;
  // margin-bottom: 20px;
  width: 100%;
  min-height: calc(92vh - 149px) !important;
}

.spanBreadcrumbs-results {
  font-size: 90%;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5pt;
}

.divEvaluationSummaryBody {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}

.tag-engenuity-purple {
  color: #fff;
  background-color: #6241c5;
  border: 1px solid #6241c5;
  font-family: 'Gilroy', Arial, sans-serif;
}

.tag-engenuity-purple:hover {
  cursor: default;
}

/*buttons*/
.btn-engenuity-purple {
  color: #fff;
  background-color: #6241c5;
  border: 1px solid #6241c5;
  font-family: 'Gilroy', Arial, sans-serif;
}

// .btn-engenuity-purple:hover {
//   color: #6241c5;
//   background-color: #fff;
//   border: 1px solid #6241c5;
// }

.btn-engenuity-purple-unselected {
  color: #6241c5;
  background-color: #fff;
  border: 1px solid #6241c5;
  font-family: 'Gilroy', Arial, sans-serif;
}

.btn-engenuity-purple-unselected:hover {
  color: #fff;
  background-color: #6241c5;
  border: 1px solid #6241c5;
  font-family: 'Gilroy', Arial, sans-serif;
}

.btn-purple-disabled {
  color: #6241c5;
  background-color: #fff;
  border: 1px solid #6241c5;
  opacity: .5;
  font-family: 'Gilroy', Arial, sans-serif;
}

.btn-purple-disabled:hover {
  cursor: default !important;
  color: #6241c5;
  opacity: .5;
}

.footer-links-left {
  font-family: 'Sentinel-Book', Georgia, serif;
  font-size: 1rem;
  color: black;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  margin: 0;
}

.h4-summary {
  margin-bottom: 0px; 
  letter-spacing: -1.0pt !important;
}

strong {
  font-weight: bold;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


