.bg-light {
  background-color: #f3f3f3 !important;
}

.bg-mitre-engenuity-dark {
  background-color: #1C242A;
}

.bg-mitre-engenuity-purple {
  background-color: #6241C5;
}

.mitre-engenuity-purple {
  color: #6241C5;
}

.p_home {
  font-family: 'Sentinel-Light', Georgia, serif;
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.p_home_top {
  font-family: 'Sentinel-Light', Georgia, serif;
  text-align: left;
  font-size: 1.6rem;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.h2_home {
  font-size: 2.0rem; 
}

.div_mailing {
  width: 90%; 
  right: 0;
}

@media screen and (max-width:1665px) {
  .p_home {
    font-size: 1.2rem;   
  }
  .p_home_top {
    font-size: 1.4rem;   
  }
  .h2_home {
    font-size: 1.8rem;   
  }
}

@media screen and (max-width:1550px) {
  .p_home {
    font-size: 1.1rem;   
  }
  .p_home_top {
    font-size: 1.3rem;   
  }
  .h2_home {
    font-size: 1.7rem;   
  }
}

@media screen and (max-width:1425px) {
  .p_home {
    font-size: 1.0rem;   
  }
  .p_home_top {
    font-size: 1.2rem;   
  }
  .h2_home {
  font-size: 1.6rem;   
  }
}

@media screen and (max-width:1364px) {
  .p_home {
    font-size: 1.0rem;   
  }
  .p_home_top {
    font-size: 1.3rem;   
  }
  .h2_home {
    font-size: 1.5rem;   
  }
}
@media screen and (max-width:1199px) {
  .p_home {
    font-size: 1.3rem;   
  }
  .p_home_top {
    font-size: 1.5rem;   
  }
  .h2_home {
    font-size: 1.9rem;   
  }
  .div_mailing {
    width: 100%; 
  }
}


.div_p_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: left;
}

#div_rounds {
  // border-top: 10px solid #6241C5; 
  // border-bottom: 10px solid #6241C5;
  // border-top: 10px solid black; 
  // border-bottom: 10px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div_round_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: left;
}

.h3_round_header {
  font-family: Gilroy;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 0;
}

.p_round_subtext {
  font-family: 'Sentinel-Light', Georgia, serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.div_round_card_container {
  display: flex;
  flex-direction: row;
}

.img_round_card {
  height: 220px;
  max-width: 310px;
}

.span_round_caption {
  color: white;
  font-family: 'Sentinel-Light';
  font-size: 1.2rem;
  font-weight: bold;
}

#img_close-up-coding {
  width: 90%;
  height: 100%;
}

#img_bright-binary {
  width: 90%;
  height: 100%;
}

#img_world-puzzle {
  width: 100%;
  height: 100%;
}

#div_sign_up {
  // border-top: 10px solid black;
  // border-bottom: 10px solid black;
}

.div_vertically_centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_submit_custom {
  text-align: center;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #1C242A;
}

.hbspt-form .hs-form-iframe {
  width: 100% !important;
}

.div-search {
  margin: auto;
  // width: 650px;
  width: 100%;
  position: relative;

  .search-results {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;

    .btn-search {
      display: none;
      width: 100% !important; 
      color: black; 
      border-color: #ced4da; 
      background-color: white;
    }
  }
}

.img-search {
  max-height:50px; 
  width: auto;
}

.div-search-img {
  margin-left: auto;
  width: 100px;
  text-align: center;
}

.div-search-text {
  text-align: left;
}

.span-participated {
  opacity: .8;
}


.div-search-field {
  // width: 650px;
  width: 100%;
  position: relative;
  .input-search {
    height: 50px;
  }
  div {
    .img-magnifying {
      height: 50px;
      width: 50px;
      line-height:50px;
      color: white;
      background-color: #6241C5;
    }
  }
}

.search-label {
  float: left;
  font-size: 1.2rem;
  font-family: "Gilroy", Arial, sans-serif;
}

.round-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.top-center-banner {
  position:absolute;
  width: 100%;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6241C5;
  color: white;
}