.divEvaluationSummaryBody-oc {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}

.divEvaluationSummaryBody-oc li+li {
  margin-top: 10px;
}

.labSubheader-oc {
  font-size: 24px;
}

.tdInnerDetectionNotesSum-oc {
  font-size: 13px;
}

.tdInnerDetectionNotesSum-oc a span {
  display: none;
}

.tdInnerDetectionNotesSum-oc a:hover span {
  display: block;
  position: absolute;

  margin: 0px;
  padding: 10px;
  color: black;
  font-weight: normal;
  background: white;
  text-align: left;
  border: 1px solid #666;
  z-index: 2;
  max-width: 600px;

  cursor: default;
}

.aFootnote {
  color: #666666;
  font-size: 11px;
}

.aFootnote:hover {
  color: #666666;
  cursor: default;
  text-decoration: none;
}

.tableMatrixLegendExport-oc {
  width: 100%;
}

.divDisclaimer-oc {
  font-size: 12px;
  width: 40%;
}

.tdLegendExport-oc {
  width: 30%;
  text-align: right;
  vertical-align: bottom;
}

.aLegendExport-oc {
  font-size: 13px;
}

.divCharts-oc {
  margin-top: 5px;
  width: 100%;
}

.divChartsTop-oc {
  display: flex;
  flex-direction: row;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card-title {
  font-size: 1.1rem;
  color: #000000;
}

.donuts-block {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .donut-container {
      margin-bottom: 35px;
      height: 240px;
      svg { 
        height: 185px;
        width: auto;
        margin: auto;
      }
  }
}

.donut-tooltip {                                                   
  background: #1d252c;                                         
  box-shadow: 0 0 5px #999999;                              
  color: white;                                           
  visibility: hidden;                                                
  font-size: 12px; 
  font-family: 'Gilroy', Arial, sans-serif;		
  margin: 5px;  
  padding: 5px;                                                 
  text-align: center;                                       
  z-index: 10;                                                   
} 

.legend-block {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .legend-container {
      margin-left: 5px;
      svg { 
        height: auto;
        width: 205px;
        margin: auto;
        .legend-item {
          font-size: 14px;
          font-family: 'Gilroy', Arial, sans-serif;
          font-weight: 400;
          letter-spacing: 0.5pt;
        }
      }
  }
}

.grid path {
  stroke-width: 0;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}

.xTickCenter {
  transform: translate(-15px, 50px) rotate(-65deg);
}

.xTickLeft {
  transform: translate(-20px, 50px) rotate(-65deg);
}

.xTickRight {
  transform: translate(-10px, 50px) rotate(-65deg);
}


