html {
    scroll-padding-top: 250px;
}

.divBreachSummaryBody {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}

.tdMainLeftPane-breach_summary {
    width: 75%;
    vertical-align: top;
    padding-right: 10px;
}

.tableHeaderLegend-breach_summary {
    width: 100%;
    vertical-align: top;
    margin-top: 15px;
}

.tdMainLabel-breach_summary {
    width: 60%;
}

.labSubheader-breach_summary {
    font-size: 24px;
}

.divDisclaimer-breach_summary {
    font-size: 12px;
    width: 60%;
}

.tdLegend-breach_summary {
    width: 40%;
    text-align: right;
}
  
.aLegendExport-breach_summary {
    font-size: 13px;
    text-decoration: none;
}

.p_strategy {
    font-size: 26px;
}

.border-ME-purple {
    border: 1px solid #6241c5;
}

.tr_detection_row:hover {
    cursor: pointer;
    background-color: lavender;
}

.tdDetectionType, .tdDetectionNote {
    height: 1px; // Gives child element a height to use for 100% height.
    padding: 0;
}

.tdDetectionType {
    width: 30%;
}

.tdDetectionNote {
    width: 70%;
}

.divStepCell {
    height: 100%;
    border: 1px solid #6241c5; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
}

.divDetectionTypeCell {
    border: 1px solid #6241c5;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 1.4rem;
}

.divDetectionNoteCell {
    border: 1px solid #6241c5;
    height: 100%;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
}

.div_detection_details {
    width: 22%;
    border: 1px solid #6241c5; 
    margin-left: 20px;
    background-color: lightgray;
    height: fit-content;
    padding-bottom: 2rem;
    position: sticky;
    top: 150px;
    display: none;
}

.div_inner_detection_detail {
    width: 90%; 
    border: 1px solid #6241c5;
    max-height: 650px;
    overflow-y: scroll;
    word-wrap: break-word;
    word-break: break-word;
}

.p_detection_detail_header {
    color: #6241c5;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.detection_detail_text {
    font-size: 1rem;
    padding-left: 20px;
    word-wrap: break-word;
    word-break: break-word;
}

.img_preview {
    max-width: 200px;
    width: 90%;
    display: block;
    margin: auto;
}

.img_big {
    max-width: 1000px;
    display: none;
    z-index: 100;
    position: fixed;
    top: 15%;
    left: 15%;
    border: 3px solid black;
}

.span_modifiers {
    font-size: 1rem;
}

.selected_row {
    background-color: lightgray;
}

.false_anchor {
    position: relative;
    top:-600px;
    display: block;
    height: 0;
    width:0
}

.div_nav_item {
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black
}

.div_nav_item:hover {
    background-color: #f0f1f2;
    color: #6241c6;
    cursor: pointer;
}

.div_nav_item_selected {
    background-color: #f0f1f2;
    color: #6241c6 !important;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.test_anchor_navlink {
    text-decoration: none;
}

.div_test_substep {
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: 1px solid black;
    font-size: .75rem;
    border-radius: 20px;
}

.substep_blocked {
    background-color: rgb(7, 34, 92);
    color: white;
}

.substep_none {
    background-color: rgb(244, 193, 182);
    color: black;
}

.substep_na {
    background-color: rgb(217, 217, 217);
    color: black;
}

.div_substep_line {
    display: flex; 
    align-items: center;
}

.hr_substep_line {
    width: 10px;
    border: 1px solid black;
    background-color: black;
}

.a_tacttech_text {
    font-size: .75rem;
    text-decoration: none;
    margin-top: .5rem !important;
}

.carousel-indicator-bt {
    bottom: 30px!important;
}

.divAttackPatternCell {
    height: 100%;
    border: 1px solid #6241c5; 
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.p_attack_pattern_header {
    color: gray;
    margin: 0;
    font-size: 1.2rem;
}

.a_attack_pattern_link {
    text-decoration: none;
    margin-left: 20px;
}

.a_attack_pattern_link:hover {
    text-decoration: none;
    margin-left: 20px;
}   

.div_techs_in_test {
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid lightgray;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators .active {
    background-color: gray !important;
}

.carousel-indicators li {
    background-color: rgb(190, 190, 190) !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

